/* login.css */
.container{
    width: 100vw;
    background: linear-gradient(to right, rgba(80, 3, 80, 0.493), rgba(56, 1, 56, 0.356));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.auth-container {
    /* background: linear-gradient(to right, rgba(80, 3, 80, 0.493), rgba(56, 1, 56, 0.356)); */
    background-color: transparent;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #FCBF32; 
    width: 100%;
    max-width: 400px;
    
  }
  
  .auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-form .logo {
    width: 50px;
    /* display: block; */
    margin: 20px 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid orangered;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    margin-bottom: 15px;
    font-size: 0.9em;
    text-align: center;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, orangered, #FCBF32);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .btn:hover {
    background-color: #000dff;
  }
  
  .redirect {
    text-align: center;
    margin-top: 10px;
  }
  
  .redirect a {
    color: #6b73ff;
    text-decoration: none;
  }
  
  .redirect a:hover {
    text-decoration: underline;
  }
  